PORT= # Puerto en el que deseas iniciar la aplicación
DB_HOST= # Host de la base de datos. Localhost en el caso de tu computadora
DB_PORT= # Puerto del servidor de la base de datos. 5432 si mantienes la configuración de postgres por defecto
DB_USER= # Usuario de la base de datos. Por defecto, postgres
DB_PASSWORD= # Contraseña del usuario de la base de datos
DB_NAME= # Nombre que le has dado a tu base de datos
JWT_SECRET= # Clave secreta para la generación de tokens JWT. Puede ser cualquier palabra que desees


//El env example es la plantila que dejamos de referencia para referencias las variables de entorno
//que necesita el proyecto para correr
//nunca se dejan sueltas las keys

/*
Pensá en tu proyecto como una casa inteligente: el código son las paredes y los cables,
pero las claves Wi-Fi, el número de puerta, los usuarios y contraseñas no deberían ir pintados en 
la pared.Esos datos “configurables” viven en variables de entorno dentro de un archivo .env.
El archivo .env.example es el molde/plantilla (sin secretos) que le dice a cualquiera: 
“esto es lo que tenés que completar en tu .env para que la app ande”.
*/

/*
¿Qué es .env.example exactamente?

Es un archivo público en el repo con las claves que necesitás (pero sin valores reales).

Sirve para que un dev nuevo (o vos en otra compu/servidor) sepa qué completar para ejecutar la app.

Nunca lleva contraseñas reales. Solo comentarios y/o ejemplos ficticios.
*/